

/* ==========================================================================
   Navbar
   ========================================================================== */
body {overflow-x: hidden;}

.navbar {
    
    transition: all 0.1s ease-out;
    padding: 0px 50px;
  	color: white;

}


.navbar-brand{
	font-family: 'Josefin Slab', serif;
	font-size: 1.5em;
}

.navbar.scrolled {
    /*background: #86D5CF;*/
    background: rgba(134, 213, 207, .95);
}

.navbar-right{
	font-family: 'Raleway', sans-serif;

}

ul.nav a:hover { 
	font-weight: bold;
	background-color: rgba(0,0,0,.0);
}




/* ==========================================================================
   General
   ========================================================================== */

body{
	padding: 0px;
	 
/* whole page fade-in*/
	opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
} 

h1 {
	font-family: 'Josefin Slab', serif;
	font-size: 80px;
	margin-top: 40px;
	font-weight: bold;
	color: rgba(0,0,0,.7);

}

h2{
	margin: 40px 0px 0 0;
}

p{
	margin-top: 30px;
	font-size: 16px;
}

h2, h3, p, span, .button {
	font-family: 'Raleway', sans-serif;
}

.note{
	font-size: 11px;
	margin: 0px;
}

.button{
	border-radius: 3px;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    box-shadow: 2px 2px 5px #888888;
}

.primary-button{

 margin: 50px;
	background-color: white !important;
	color: #86D5CF;
}


.gif_circle{
	height: auto;
	border-radius: 50%;
	width: 200px;
	margin-top: 20px;
}

.cover{
	object-fit: cover;
	height: 200px;
}

.details{
	background-color: rgba(255,255,255,.7);
	padding: 10px 30px;
	margin: 20px 0px;
	border-radius: 5px;

}

.leftalign {
	text-align: left;
}

iframe{
	padding: 10px;
	background-color: rgba(255,255,255,.7);
	border-radius: 3px;
	margin-top: 40px;
}

/* ==========================================================================
   Cover Section
   ========================================================================== */

#photobooth {
	max-width: 15%;
	height: auto;
	border-radius: 100%;
	display: block;
	margin-top: 20px;
}

#heart{
	width: auto;
	height: 74px;
	margin-top: 20px;
}

#hero{
	background-image: url("../img/background/title.png");
	padding-top: 100px;
	
	
}

.watercolor {
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 20px 0px;

}

#hero h1{
	font-size: 80px;
	margin: 20px;
	font-weight: bold;
	color: rgba(0,0,0,.7);
}

#hero h3{
	color: white;
	padding-top: 20px;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

#clockdiv > div{
    margin-top: 20px;
    padding: 15px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #337ab7;
    display: inline-block;
}



.smalltext{
    padding-top: 5px;
    font-size: 16px;
}


/* ==========================================================================
   Welcome
   ========================================================================== */

#welcome {
	background-image: url("../img/background/red.png");
}

.centerimage {
	height: auto;
	width: 400px;
	border-radius: 5px;
	margin-top: 30px;
}


/* ==========================================================================
   Our Story
   ========================================================================== */

#story{
	background-image: url("../img/background/purplestars.png");
	
}

#leftalign {
	text-align: left;
}

.container{
	width: 100%;
}

.center{
	display: inline-flex;
}

#story h1, #story h2{
	color: white;
}

/* ==========================================================================
   Event
   ========================================================================== */
#wedding{
	background-image: url("../img/background/wedding.png");
}

#wedding img{
	display: block;
	width: 60%;
	height: auto;	
	border-radius: 5px;
	margin: 20px;

	filter: url(filters.svg#grayscale);
  	/* Firefox 3.5+ */
  	filter: gray;
  	/* IE6-9 */
    -webkit-filter: grayscale(1);
  	/* Google Chrome & Safari 6+ */
}

#wedding img:hover{
	filter: none;
  -webkit-filter: none;
}

.hotel p{
	padding: 0px;
	margin: 0px;
}

.timeline p{
	padding: 0px;
	margin: 0px;
}

.timeline {
	background-color: rgba(255, 255, 255, .7);
	border-radius: 5px;
	margin-top: 20px;
	padding: 0px 20px;
}

#rsvp{
	background-image: url("../img/background/rsvp.png");
	color: white;
}

#rsvp h1{
	color: white;
}

footer{
	background-image: url("../img/background/title.png");
	padding: 30px;
}

footer p{
	margin: 0;
}
